<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.princeyoulou.ama"
        versionCode = "1" 
        version     = "1.0" >
    <!-- versionCode is optional and Android only. It must be an integer -->
    

    <name>AMA</name>

    <description>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, impedit.
    </description>

    <author href="#" email="princeyoulou@princeyoulou.com">
        Intense Pixel Studio
    </author>

    <!-- build only for android -->
    <platform name="android" />

    <!-- icon -->
    <icon src="icon.png" />


    <!-- no permission required -->
    <preference name="permissions" value="none" />

    <preference name="fullscreen" value="false" />

    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />
    <uses-permission android:autoLink="phone" />    
    <uses-permission android:autoLink="phone" android:linksClickable="true" />

    <!-- access to external links -->
    <preference name="stay-in-webview" value="false"/>
    <access origin="*" browserOnly="true"/>

</widget>

